<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Gestion des Cartes d'Appel!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <link href="https://fonts.googleapis.com/css?family=Iceland" rel="stylesheet">
        <style>
            div.clock{
                margin-right:10px;
            }
            div.clock > span{
                color:red;
                font-size:30px;
                font-family: 'Iceland', cursive;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block nav %}{% endblock %}

        <div class="container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        <strong>
                            {% if label == 'danger' %}
                                <i class="fas fa-times-circle fa-lg"></i>
                                Erreur
                            {% elseif label == 'success' %}
                                <i class="fas fa-check-circle fa-lg"></i>
                                Succès
                            {% elseif label == 'warning' %}
                                <i class="fas fa-exclamation-circle fa-lg"></i>
                                Attention
                            {% elseif label == 'info' %}
                                <i class="fas fa-info-circle fa-lg"></i>
                                Info
                            {% endif %}
                        </strong>
                        <hr/>
                        {{ message | raw }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
