{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container">
        <a href="{{ path('create-appelant') }}" class="btn btn-success">Créer un appelant</a>
        <table id="appelantTable" class="table table-dark table-striped table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Active</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for appelant in appelants %}
                <tr>
                    <td>{{ appelant.name }}</td>
                    <td>{{ appelant.active }}</td>
                    <td>
                        <a href="{{ path('edit-appelant', {'id': appelant.id}) }}" class="btn btn-sm btn-success">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#appelantTable').DataTable();
        });
    </script>
{% endblock %}